@media only screen and (max-width:1140px) {
    .nav-list
    {
        flex-direction: column;
    }
    .navbar
    {
        flex-direction: column;
        transition: all 0.3s ease-out;
        height: 750px;
    }
    .rightNav
    {
        text-align: center;
    }
    #search
    {
        width: 100%;
        margin-bottom: 8px;
    }
    .burger
    {
        display: block;
    }
    .h-nav-resp
    {
        height: 72px;
    }
    .v-class-resp
    {
        opacity: 0;
    }
    .btn-sm
    {
        width: 32%;
        height: 35%;
        text-align: center;
    }
    .btn
    {
        width: 60%;
        height: 35%;
        text-align: center;
    }
    .second-half img
    {
        width: 120%;
        height: 90%;
        margin-right: 100%;
    }
    .box-main
    {
        flex-direction: column-reverse;
        width: 100%;
    }
    .section
    {
        flex-direction: column-reverse;
    }
    .text-small
    {
        text-align: center;
    }
    .text-big
    {
        text-align: center;
    }
    .buttons
    {
        text-align: center;
    }
    .paras
    {
        padding: 0px;
    }
    .thumbnail img
    {
        margin-top: 5%;
    }
    .nav-list li
    {
        padding: 15px;
    }
    .logo img
    {
      width: 88px;;
    }
    
    }